@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "MontserratBold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "MontserratLightItalic";
    src: url("../fonts/Montserrat-LightItalic.ttf");
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    margin: 0;
}

.title-1 {
    font-family: MontserratBold, sans-serif;
    font-size: 22px;
    margin-bottom: 21px;
}

#content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

#main-content {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
    background: #1e2939;
    padding: 10px;
    color: white;
}

#main-content-photo {
    max-width: 300px;
}

#main-content-photo img {
    width: 100%;
    border-radius: 5px;
}

#main-content-description {
    padding-left: 31px;
    padding-top: 22px;
}

#main-content-contacts {
    margin-bottom: 32px;
}

#main-content-contacts-text {
    line-height: 25px;
}

#main-content-contacts-text span {
    font-family: MontserratBold, sans-serif;
}

#main-content li {
    margin-bottom: 9px;
}

#main-content li::marker {
    color: #ff6b08;
}

.maintitle {
    font-family: MontserratBold, sans-serif;
    font-size: 22px;
    margin-bottom: 15px;
}

#about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    padding-top: 30px;
    padding-left: 59px;
}

#about-content-title {
    font-family: MontserratBold, sans-serif;
    font-size: 45px;
    margin-bottom: 10px;
}

#about-content-profession {
    font-family: MontserratBold, sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}


#about-content-description {
    line-height: 24px;
}

#ol-adaptive {
    display: none;
}

#about-content-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
}

.project {
    width: 200px;
    text-align: center;
    border-radius: 15px;
    padding: 0 10px;
}

.project a {
    text-decoration: none;
    color: #1E2939;
    font-family: "MontserratBold", sans-serif;
    font-size: 16px;
}

.project a img {
    width: 100%;
    height: 114px;
    border-radius: 10px;
    transition: .65s;
}

.project:hover a img {
    box-shadow: 0 0 8px 2px #1E2939;
}

.subtitle-1 {
    text-align: center;
    font-family: MontserratLightItalic, sans-serif;
    margin-bottom: 5px;
}

.subtitle {
    text-align: center;
    font-family: MontserratBold, sans-serif;
    margin-bottom: 5px;
}

.about-text .subtitle-1, .about-text .subtitle {
    text-align: unset;
}

#certificates {
    max-width: 465px;
}

.about-text img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    #about-content {
        padding-top: 10px;
        padding-left: 17px;
    }
}

@media screen and (max-width: 655px) {
    #content {
        flex-direction: column;
        align-items: center;
    }

    #main-content, #about-content {
        width: 100%;
    }

    #about-content-title {
        text-align: center;
        font-size: 35px;
    }

    #about-content-profession {
        text-align: center;
    }

    .main-title {
        margin-bottom: 5px;
    }

}